<app-top-nav ngClass="tablet-display"></app-top-nav>

<div class="content-wrapper">
  <!-- Side Nav Bar -->
  <div class="side-nav-wrapper">
    <app-side-nav></app-side-nav>
  </div>

  <!-- Main Form Content -->
  <div class="container-fluid">
    <!-- Top bar - Profile, Settings, Log Out -->
    <app-top-bar></app-top-bar>

    <br>

    <div class="main-content">
      <div class="row">
        <div class="col">
          <mat-card style="box-shadow: none; border: solid 1px #e2e2e2;">
            <!-- Title Row -->
            <div class="row">
              <!-- Title Text -->
              <div class="col" style="display: flex; align-items: center;">
                <h2 style="font-weight: 400; margin-bottom: 0px;">Players</h2>
              </div>
              <!-- Title More Settings -->
              <div class="col-auto" style="display: flex; align-items: center;">

              </div>
            </div>

            <div class="row" style="margin-top: 10px;">
              <div class="col" style="display: flex;">
                <mat-button-toggle-group name="sorter" aria-label="Sorter" class="toggle-group" >
                  <mat-button-toggle checked=true (change)="sortTable($event.value)" class="toggle-group-item" value="A">A</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="B">B</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="C">C</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="D">D</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="E">E</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="F">F</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="G">G</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="H">H</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="I">I</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="J">J</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="K">K</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="L">L</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="M">M</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="N">N</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="O">O</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="P">P</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="Q">Q</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="R">R</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="S">S</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="T">T</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="U">U</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="V">V</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="W">W</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="X">X</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="Y">Y</mat-button-toggle>
                  <mat-button-toggle (change)="sortTable($event.value)" class="toggle-group-item" value="Z">Z</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>

            <div class="row" style="margin-top: 10px; padding: 0px 15px;">
              <div class="col" class="mat-elevation-z2">
                <table mat-table [dataSource]="dataSource" >

                  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
                  <!-- Name Column -->
                  <ng-container matColumnDef="playerid">
                    <th mat-header-cell *matHeaderCellDef> Playerid </th>
                    <td mat-cell *matCellDef="let element"> {{element.playerid}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef> Phone </th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 15, 20]"
                               showFirstLastButtons
                               aria-label="Select page of players">
                </mat-paginator>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

  </div>
</div>
