.side-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.side-nav-top {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}

.side-nav-top-icon-right {
  margin-left: auto;
}

.side-nav-image {
  width: 90px;
  height: 90px;
  align-self: center;
}

.side-nav-name {
  align-self: center;
  margin-top: 10px;
  text-align: center;
}

.side-nav-middle {
  flex-grow: 1;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
}

.side-nav-menu-link {
  margin-left: 40px;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.side-nav-bottom {
  height: 80px;
  margin-top: auto;
  padding-left: 50px;
  padding-right: 50px;
}

a {
  width: 100%;
  text-align: left;
  padding: 3px 20px 3px 25px;
  margin-bottom: 5px;
}

.mat-button.custom-hover:hover {
  background: rgba(255, 255, 255, 0.07);
}

.mat-button.custom-hover.round:hover {
  border-radius: 50px;
}

.active {
  background: white;
  color: #2f4858;
  border-radius: 50px;
}

.active:hover {
  background: white !important;
}
