<div class="loginWrapper">
  <div class="loginItem">
    <mat-card [class.mat-elevation-z8]="true">
      <h1>Member Login</h1>
      <mat-form-field appearance="legacy" color="accent">
        <mat-label>Username</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <br>
      <mat-form-field appearance="legacy" color="accent">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">Forgot Password?</mat-hint>
      </mat-form-field>
      <br><br>
      <button mat-flat-button color="accent" style="width: 100%;">Login</button>
    </mat-card>
  </div>
</div>
