.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../../assets/login_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.loginItem {
  margin: auto;
  width: 290px;
  height: 370px;
}

h1 {
  text-align: center;
}

mat-form-field {
  width: 100%;
}
