.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../../assets/login_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
}

.loginItem {
  margin: auto;
  width: 290px;
  height: 370px;
}

h1 {
  text-align: center;
}

h3 {
  margin-bottom: 0px;
}

mat-form-field {
  width: 100%;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 290px;
}

::ng-deep .mat-progress-bar-buffer {
    background-color: white !important;
}

.with-icon {
    display: flex;
    align-items: center;
}
