.search-bar-wrapper {
  height: 50px;
}

.search-bar {
  white-space: nowrap;
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.mat-button.circle {
  height: 40px;
  width: 40px !important;
  min-width: 30px !important;
  border-radius: 50px;
  padding: 0px;
}

.search-input {
  max-width: 0px;
  overflow: hidden;
  flex-grow: 1;
  -webkit-transition: max-width .5s ease;
  transition: max-width .5s ease;
}

.display-search {
  max-width: 100%;

}

.search-label {
  font-size: 18px;
  letter-spacing: 0.03em;
  margin-left: 10px;
  color: #989898;
  font-weight: normal;
  border-radius: 50px;
}

.hide-search-label {
  display: none;
}

.full-width-input {
  width: 100%;
}
