.top-bar-wrapper {
  height: 52px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #e2e2e2;
  background-color: #ffffff;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.left-icons {

}

.right-icons {
  margin-left: auto;
}
