<app-top-nav ngClass="tablet-display"></app-top-nav>

<div class="content-wrapper">
  <!-- Side Nav Bar -->
  <div class="side-nav-wrapper">
    <app-side-nav></app-side-nav>
  </div>

  <!-- Main Form Content -->
  <div class="container-fluid">
    <!-- Top bar - Profile, Settings, Log Out -->
    <app-top-bar></app-top-bar>

    <br>

    <div class="main-content">
      <!-- Row 1 -->
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <!-- Row 1 -->
          <div class="row mb-3">
            <div class="col">
              <mat-card style="box-shadow: none; border: solid 1px #e2e2e2;">
                <!-- Row 1 -->
                <div class="weather-row mt-2" style="align-items: center;">
                    <div class="weather-icons">
                      <mat-icon style="color: #ffe167; font-size: 65px;">circle</mat-icon>
                      <mat-icon *ngIf="cloudy" style="color: #e2e2e2; font-size: 35px; position: absolute; top: 0; left: 30px;">cloud</mat-icon>
                      <mat-icon *ngIf="cloudy" style="color: #e2e2e2; font-size: 35px; position: absolute; left: 0; top: 27px;">cloud</mat-icon>
                    </div>
                    <div class="weather-column">
                      <h1 style="font-size: 44px; margin-bottom: 0px;">{{ units ? WeatherDataCurrent.temp_celcius : WeatherDataCurrent.temp_fahrenheit}}°</h1>
                      <h1 style="font-size: 16px; margin-bottom: 0px;"><button (click)="units = true" class="plain-button">°C</button> | <button (click)="units = false" class="plain-button">°F</button></h1>
                    </div>
                    <div class="weather-column" style="align-self: flex-start; margin-left: 15px; margin-top: 2px;">
                      <h1 style="font-size: 14px; margin-bottom: 0px; line-height: 18px;">Feels Like: {{ units ? WeatherDataCurrent.temp_feels_celcius : WeatherDataCurrent.temp_feels_fahrenheit}}°</h1>
                      <h1 style="font-size: 14px; margin-bottom: 0px; line-height: 18px;">Humidity: {{ WeatherDataCurrent.humidity }}%</h1>
                      <h1 style="font-size: 14px; margin-bottom: 0px; line-height: 18px;">Wind: {{ WeatherDataCurrent.wind }}</h1>
                    </div>
                    <div class="weather-column" style="align-self: flex-start; margin-left: auto; margin-top: 2px; text-align: right; padding-right: 10px;">
                      <h1 style="font-size: 22px; margin-bottom: 0px; line-height: 24px;">Louisville, KY</h1>
                      <h1 style="font-size: 16px; margin-bottom: 0px; line-height: 20px;">{{ WeatherDataCurrent.day }} {{ WeatherDataCurrent.time }}</h1>
                      <h1 style="font-size: 16px; margin-bottom: 0px; line-height: 20px; text-transform: capitalize;">{{ WeatherDataCurrent.description }}</h1>
                    </div>
                </div>

                <hr style="margin-top: 7px; color: #d4d4d4;">

                <div class="weather-row mt-1" style="align-items: center; text-align: center; overflow: auto;">
                  <div *ngFor="let day of futureForecast; let i =index; let first = first;" class="weather-item" [ngClass]="{ 'today-weather': first }">
                    <div>
                      <h1 style="font-size: 16px; margin-bottom: 0px; font-weight: 500;">{{ day.day }}</h1>
                    </div>

                    <div class="weather-icons" style="height: auto; width: auto;">
                      <mat-icon style="color: #ffe167; font-size: 35px; margin-left: -13px;">circle</mat-icon>
                      <mat-icon *ngIf="cloudy" style="color: #e2e2e2; font-size: 18px; position: absolute; top: 0px; margin-left: -9px;">cloud</mat-icon>
                      <mat-icon *ngIf="cloudy" style="color: #e2e2e2; font-size: 18px; position: absolute; top: 14px; margin-left: -29px;">cloud</mat-icon>
                    </div>

                    <div>
                      {{ day.temp_min_celcius }}
                      <font style="font-weight: 500;">{{ day.temp_max_celcius }}</font>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
          <!-- Row 2 -->
          <div class="row mb-3">
            <div class="col">
              <mat-card style="box-shadow: none; border: solid 1px #e2e2e2;">
                <!-- Title Row -->
                <div class="row">
                  <!-- Title Icon -->
                  <div class="col-auto" style="display: flex; align-items: center;">
                    <mat-icon color="primary">date_range</mat-icon>
                  </div>
                  <!-- Title Text -->
                  <div class="col" style="display: flex; align-items: center; padding-left: 0px;">
                    <h2 style="font-weight: 400; margin-bottom: 0px;">Tee Sheet</h2>
                  </div>
                  <!-- Title More Settings -->
                  <div class="col-auto" style="display: flex; align-items: center;">
                    <button mat-button class="circle">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <!-- Row 1 -->
          <div class="row mb-3">
            <div class="col">
              <mat-card style="box-shadow: none; border: solid 1px #e2e2e2;">
                <!-- Title Row -->
                <div class="row">
                  <!-- Title Icon -->
                  <div class="col-auto" style="display: flex; align-items: center;">
                    <mat-icon color="primary">group</mat-icon>
                  </div>
                  <!-- Title Text -->
                  <div class="col" style="display: flex; align-items: center; padding-left: 0px;">
                    <h2 style="font-weight: 400; margin-bottom: 0px;">Players</h2>
                  </div>
                  <!-- Title More Settings -->
                  <div class="col-auto" style="display: flex; align-items: center;">
                    <button mat-button class="circle">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
          <!-- Row 2 -->
          <div class="row mb-3">
            <div class="col">
              <mat-card style="box-shadow: none; border: solid 1px #e2e2e2;">
                <!-- Title Row -->
                <div class="row">
                  <!-- Title Icon -->
                  <div class="col-auto" style="display: flex; align-items: center;">
                    <mat-icon color="primary">event</mat-icon>
                  </div>
                  <!-- Title Text -->
                  <div class="col" style="display: flex; align-items: center; padding-left: 0px;">
                    <h2 style="font-weight: 400; margin-bottom: 0px;">Events</h2>
                  </div>
                  <!-- Title More Settings -->
                  <div class="col-auto" style="display: flex; align-items: center;">
                    <button mat-button class="circle">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>

      <!-- Row 2 -->
      <div class="row">
        <div class="col">
          <mat-card style="box-shadow: none; border: solid 1px #e2e2e2;">
            <!-- Title Row -->
            <div class="row">
              <!-- Title Icon -->
              <div class="col-auto" style="display: flex; align-items: center;">
                <mat-icon color="primary">description</mat-icon>
              </div>
              <!-- Title Text -->
              <div class="col" style="display: flex; align-items: center; padding-left: 0px;">
                <h2 style="font-weight: 400; margin-bottom: 0px;">Reports</h2>
              </div>
              <!-- Title More Settings -->
              <div class="col-auto" style="display: flex; align-items: center;">
                <button mat-button class="circle">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>

  </div>

  <app-menu-widget></app-menu-widget>
</div>
