<app-top-nav></app-top-nav>

<div class="content-wrapper">
  <!-- Side Nav Bar -->
  <div class="side-nav-wrapper">
    <app-side-nav></app-side-nav>
  </div>

  <!-- Main Form Content -->
  <div class="body-wrapper container-fluid">
    <!-- Search Bar -->
    <app-search-bar></app-search-bar>
    <br>

    <!-- Page Title -->
    <div class="page-title">
      <h1 class="mat-display-1">Dashboard</h1>
    </div>

    <!-- Row 1 -->
    <div class="row">
      <!-- Column 1 -->
      <div class="col-md">
        <mat-card [class.mat-elevation-z2]="true">

        </mat-card>
      </div>
      <!-- Column 2 -->
      <div class="col-md">
        <mat-card [class.mat-elevation-z2]="true">

        </mat-card>
      </div>
      <!-- Column 3 -->
      <div class="col-xl">
        <mat-card [class.mat-elevation-z2]="true">

        </mat-card>
      </div>
    </div>
  </div>

  <app-menu-widget></app-menu-widget>
</div>
